<template>
 <div class="home">
   <h3>name: {{name}}</h3>
   <h3>age: {{age}}</h3>
   <p>desciption: {{desciption}}</p>
   <input type="text" v-model="desciption">
   <button @click="increaseAge(5)">Increase</button>
   <button v-on:click="decreaseAge">Decrease</button>
   <div>
     <h3>Employees:</h3>
     <v-data-table
      :headers="headers"
      :items="employees"
      :items-per-page="5"
      class="elevation-1"
    ></v-data-table>
   </div>
 </div>
</template>

<script>
import $axios from 'axios';

export default { 
  data() {
    return {
      name: "Dip heo",
      age: 28,
      desciption: '',
      employees: [],
      headers: [
        { text: 'name', value: 'employee_name' },
        { text: 'age', value: 'employee_age' },
        { text: 'salary', value: 'employee_salary'}
      ]
    }
  },
  async created() {
    //fetch data => call api get data from server
    this.name = 'Dip Dip';
    //$axios.get('http://dummy.restapiexample.com/api/v1/employees').then(res => this.employees = res.data.data);
    const result = await $axios.get('http://dummy.restapiexample.com/api/v1/employees');
    this.employees = result.data.data;
  },
  methods: {
    increaseAge(val) {
      console.log(val);
      this.age += val;
    },
    decreaseAge($event) {
      console.log($event);
      this.age--;
    }
  },
}
</script>

<style scoped>

</style>>

