<template>
  <nav>
    <v-toolbar flat app>
      <v-toolbar-tittle class="text-uppercase purple--text">
        <span class="font-weight-light">Todo</span>
        <span>Dip dip</span>
      </v-toolbar-tittle>
      <v-spacer></v-spacer>
      <v-btn flat color="grey">
        <span>Sign out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
  </nav>
</template>

<script>
export default {
  
}
</script>